body            {       font-family: verdana;
                        margin:0;
                        padding:0;

                }
br              {       clear:left;
                }
a               {       color:  #307394;
                        text-decoration: none;
                }
a:link          {       color: #307394;
                        text-decoration: none;
                }
a:visited       {       color:  #307394;
                        text-decoration: none;
                }
h1              {       font-size: 18px;
                        color: black;
                }
h2              {       font-size: 16px;
                        color: #0A0A0A;
                }
td              {       text-align:     left; /*center;*/
                        vertical-align: top;
                        border: 0px;
                        padding: 0px;
                        border-collapse:  collapse;
                        padding-right: 15px;
                        padding-left: 15px;
                        padding-top: 3px;
                        padding-bottom: 3px;
                }
.table1         {       background-color: #DDDDDD;
                        border: 0px;
                        padding: 0px;
                        border-collapse:  collapse;
                        width:100%;
                }
.td-heading-r     {      text-align:     right; /*center;*/
                        vertical-align: top;
                        background-color: #ffffff;
                }
.td-heading-l    {      text-align:     left; /*center;*/
                        vertical-align: top;
                        background-color: #ffffff;
                }
.td-option      {       text-align:     right; /*center;*/
                        vertical-align: top;
                        background-color: #C0C0C0;
                }
.td-value       {       text-align:     left; /*center;*/
                        vertical-align: top;
                  //      background-color: #DDDDDD;
                }
.button         {   background-color: #DDDDDD;
                    border: none;
                    color: black;
                    padding: 3px 5px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 12px;
                }
.button2        {   background-color: #DDDDDD;
                    border: none;
                    color: black;
                    padding: 5px 7px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 16px;
                    width: 100%;
                }

.settings1        {
                        height: 500px;
                        /*width: 20%;*/
                        min-width       : 610px;
                        max-width       : 610px;
                        display         : block;
                        margin-left     : auto;
                        margin-right    : auto;
                        float           : left;
                        border:  1px solid #307394;
                        border-radius:  5px;
                        padding: 5px;
                        margin: 10px;
                }
.settings2        {
                        height: 480px;
                        /*width: 20%;*/
                        min-width       : 500px;
                        max-width       : 500px;
                        display         : block;
                        margin-left     : auto;
                        margin-right    : auto;
                        float           : left;
                        border:  1px solid #307394;
                        border-radius:  5px;
                        padding: 5px;
                        margin: 10px;
                }
.title          {       display         : block;
                        /*width         : 100%;*/
                /*      height          : 100px; */
                        font-size       : 24px;
                        font-weight     : bold;
                        border          : 0px solid #73AD21;
                        background-color: #FFFFFF;
                        color           : #303030;
                        padding         : 0px;
                        border-collapse : collapse;
                        margin          : 0px;

                }
.heading1       {       text-align: left;
                        font-size       : 26px;
                        font-weight     : bold;
                        padding         : 5px;
                }
.heading2       {       text-align: center;
                        font-size       : 16px;
                        font-weight     : bold;
                        padding         : 5px;
                        width: 98%;
                        margin:0;
                        display: inline-block;
                        background-color: DDDDDD;
                        border: none;
                }
#BitRate1 { /*visibility: visable; */
            display: inline-block;
            float           : left;
          }
#BitRate2 { /*visibility: hidden; */
            display: none;
            float           : left;
          }
                